# Sample BBLAYERS fragment for ark-meta-simaai
# Prefer: run ../../setup.sh from this layer (or ./setup.sh from repo root),
# which clones deps and patches build/conf/bblayers.conf.
#
# Manual merge into build/conf/bblayers.conf (paths relative to build/):

# SiMa vendor layer (required)
#  ${TOPDIR}/../meta-simaai \
# ARK Modalix carrier BSP
#  ${TOPDIR}/../ark-meta-simaai \
#
# Full layer list matches meta-simaai/conf/templates/custom/bblayers.conf.sample
# plus ark-meta-simaai.
